@import "tailwindcss";

@theme {
  /* Colors */
  --color-custom-red: hsl(4, 100%, 67%);
  --color-custom-blue-800: hsl(234, 29%, 20%);
  --color-custom-blue-700: hsl(235, 18%, 26%);
  --color-custom-grey: hsl(0, 0%,58%);
  --color-custom-white: hsl(0, 0%, 100%);

  /* Fonts */
  --font-base: "Roboto", sans-serif;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
